body {
    font-family: 'Raleway', sans-serif !important;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Catamaran', sans-serif !important;
}

.nav-link{
    font-size: 1.25em;
    color: whitesmoke;
}

.header-img {
    background-image: url(../assets/Rectangle\ 1.jpg    );
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.headers {
    font-size: 30px;
    padding-top: 5em;
    text-transform: capitalize;
    font-weight: bold;
    text-align: center;
}

.item_1 {
    display: flex;;
    width: 30px;
    height: 50vh;
}

.item_img {
    width: 100%;
    height: 30em;
}

.caption {
    display: block;
    font-size: 18px;
    padding-top: 20px;
    text-align: center;
}


.pluto {
    text-align: justify;
    width: 100%;
    height: 60px;
}

.tracks {
    background-image: url(../assets/bg_1.jpg);
    width: 100%;   
}

.tracks_text {
    font-size: 14px;
    text-align: justify;
}

.bg_img {
    background-image: url(../assets/bg_6.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    background-size: cover;
    width: 100%;
    height: 120vh;
}


.flip-card {
    background-color: transparent;
    width: 400px;
    height: 400px;
    perspective: 1000px;
    box-shadow: 0 .135rem .30rem rgba(0,0,0,.085) !important;
    transition: all .10s;
  }
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }
  
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    box-shadow: 0 .5rem 3rem rgba(0,0,0,.15) !important;
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    background-image: url(../assets/bg_1.jpg);
  }
  
  .flip-card-back {
    background-image: url(../assets/bg_1.jpg);
    transform: rotateY(180deg);
  }

  .flip_icons {
      width: 40px;
      height: 40px;
  }